*{
  margin: 0;
  padding: 0;
}

.container{
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  padding-top: 20px;
  box-sizing: border-box;
  position: relative;
  overflow: scroll;
}

.topBtn{
  position: fixed;
  bottom: 45px;
  right: 20px;

  z-index: 100;

  opacity: 0;

  height: 45px;
  width: 45px;
  border: none;
  background-color: #003d7c;
}
.showBtn{
  opacity: 1;
}

.horizontal{
  display: flex;
  flex-direction: row;
}

.navbar{
  width: 100%;
  display: flex;
  padding-left: 60px;
  padding-bottom: 20px;
  align-items: center;
}
.logo{
  width: 340px;
  cursor: pointer;
}
.navbar nav{
  flex: 1;
  padding-left: 542px;
  padding-top: 30px;
}
.navbar nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 13px;
}
.navbar nav ul li a{
  font-size: 14px;
  font-weight: 400;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #999;
  text-decoration: none;
}
.navbar nav ul li a:hover{
  color: #ef7c00;
}

.infobar{
  height: 50px;
  border-style: solid;
  border-width: thin;
  border-color: #dddddd;
  border-right: transparent;
  border-left: transparent;
  background-color: #f7f7f7;
  justify-content: space-around;
}
.infobar .icons{
  margin: 17px 0px 17px 80px;
}
.infobar .icons .more{
  margin-left: 40px;
}
.infobar nav{
  flex: 1;
  margin: 17px 10px;
}
.infobar nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 13px;
}
.infobar nav ul li a{
  font-size: 14px;
  font-weight: 400;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #999;
  text-decoration: none;
}
.infobar nav ul li a:hover{
  color: #000;
}

.COVID19-b{
  display: none;
}
.COVID19:hover + .COVID19-b{
  display: block;
}

.undergraduate-p{
  height: 600px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.more-p{
  justify-content: space-around;
  cursor: pointer;
}
.more-p img{
  width: 25%;
  border-style: solid;
  border-width: 0px 2px 0px;
  border-color: #fff;
}

.news{
  padding: 0px 75px;
}
.news-heading{
  height: 115px;
  padding: 85px 0px 0px;
  text-align: center;
}
.news .news-heading a{
  font-size: 36px;
  font-weight: lighter;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #003d7c;
  text-decoration: none;
}
.news .news-heading a:hover{
  color: #000;
}
.news ul li{
  height: 450px;
  margin: 0px 60px 40px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.news ul li .news-info{
  display: flex;
  flex-direction: column;
  line-height: 30px;
}
.news ul li .heading{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  font-size: 24px;
  line-height: 1.4;
  color: #003d7c;
  margin: 15px 30px 0px 0px;
  cursor: pointer;
}
.news ul li .heading:hover{
  color: #000000;
}

.calendar{
  justify-content: flex-start;
}
.calendar i{
  margin: 10px 0px 0px;
}
.calendar h1{
  margin: 2px 0px 0px 5px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 13px;
  color: #999;
}

.more{
  display: flex;
  flex-direction: row;
}
.more img{
  height: 35px;
  margin: 5px 0px 0px 5px;
}
.more p{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  line-height: 1.428571;
  margin: 0px 30px 0px 10px;
}

.tags {
  justify-content: flex-start;
  margin: 0px 30px 0px 35px;
}
.tags i{
  margin: 9px 0px 0px;
}
.tags .tags-l{
  display: flex;
  flex-wrap: flex;
}
.tags .tags-l a{
  font-size: 14px;
  font-style: italic;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.428571;
  color: #ef7c00;
  opacity: .7;
  text-decoration: none;
  margin: 5px 0px 0px 0px;
}
.tags .tags-l a:hover{
  color: #2f4f4f;
}
.tags .tags-l p{
  font-size: 13px,
  font-weight: lighter;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.news li img:hover{
  filter: brightness(1.05);
}

.more-button{
  height: 145px;
  padding: 60px 0px 0px 580px;
}
.more-button button{
  color: #fff;
  border: none;
  background-color: #003d7c;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}
.more-button button:hover{
  background-color: #213f9c;
}
.more-button h1{
  font-size: 13px;
  font-weight: lighter;
  margin-left: 5px;
}

.videos{
  padding: 0px 45px;
}
.video-heading{
  height: 115px;
  text-align: center;
}
.videos .video-heading a{
  font-size: 36px;
  font-weight: lighter;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #003d7c;
  text-decoration: none;
}
.videos .video-heading a:hover{
  color: #000;
}
.videos .video-items {
  justify-content: space-around;
}

.videos .video-items .video-des h1{
  font-size: 30px;
  font-weight: 200;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.1;
  color: #003d7c;
  margin: 10px 0px;
}
.videos .video-items .video-des p{
  font-size: 14px;
  font-weight: 400;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.428571;
  word-spacing: 1px;
  color: #333;
  margin: 0px 20px 0px 0px;
}

.videos .more-button{
  margin: 10px 0px 0px 30px;
}

.features{
  padding: 0px 45px;
}
.features-heading{
  height: 75px;
  text-align: center;
}
.features .features-heading a{
  font-size: 36px;
  font-weight: lighter;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #003d7c;
  text-decoration: none;
}

.features .features-r{
  justify-content: space-around;
  margin: 30px 0px 60px 0px;
}
.features .features-0{
  margin: 0px 0px 0px 7px;
}
.features .features-i img{
  height: 435px;
  width: 652px;
}
.features .features-i img:hover{
  filter: brightness(1.05);
}
.features .features-r .features-i .heading{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  font-size: 24px;
  color: #003d7c;
  margin: 30px 30px 0px 0px;
  cursor: pointer;
}
.features .feature-r .features-i .heading:hover{
  color: #000000;
}
.features .features-r .features-i .calendar h1{
  margin: 10px 0px 0px 5px;
}

.features .features-r .features-i .more{
  width: 652px;
  margin: 35px 0px 0px 5px;
}
.features .features-r .features-i .more img{
  height: 30px;
  width: 45px;
}
.features .features-r .features-i .more p{
  font-size: 14px;
  word-spacing: normal;
}
.features .features-r .features-i .tags i{
  margin: 15px 0px 0px 0px;
}
.features .features-r .features-i .tags-l{
  margin: 7px 0px 0px;
}

.features .more-button{
  margin: 0px 0px 0px 25px;
}

.upcoming{
  margin: 0px 75px 0px;
}
.upcoming-heading{
  height: 105px;
  text-align: center;
  margin: 0px 0px 25px 0px;
}
.upcoming .upcoming-heading a{
  font-size: 36px;
  font-weight: lighter;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #003d7c;
  text-decoration: none;
}

.upcoming table{
  width: 100%;
  margin: 0px 0px 35px 0px;
  border: none;
  border-collapse: collapse;
}
.upcoming table .t-blue{
  height: 30px;
  width: 15px;
  background-color: #003d7c;
}
.upcoming table .t-grey{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 15.808px;
  padding: 0px 5px;
  background-color: #eeecec;
}
.upcoming table .t-time{
  width: 200px;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
  padding: 5px 0px;
}
.upcoming table .t-event{
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #003d7c;
  cursor: pointer;
  padding: 5px 0px;
}
.upcoming table .t-details{
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #555;
  padding: 0px 0px 5px 0px;
}

.appendix{
  height: 790px;
  background-color: #003d7c;
}
.appendix table{
  margin: 0px 30px;
  padding: 30px 0px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.appendix table ul{
  width: 275px;
}
.appendix table ul li{
  list-style: none;
}
.appendix table tr{
  vertical-align: top;
}
.appendix table td{
  border: 30px solid #003d7c;
  border-collapse: collapse;
}
.appendix .header{
  font-size: 18px;
  font-weight: 100;
  color: #fff;
  line-height: 2;
}
.appendix .header-s{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  line-height: 24px;
}
.appendix .others{
  font-size: 14px;
  font-weight: 300;
  color: #999;
  line-height: 24px;
  cursor: pointer;
}
.appendix .more{
  margin: 0px 0px 0px 10px;
  display: flex;
  flex-direction: row;
}
.appendix .more i{
  margin: 5px 0px 0px 0px;
}
.appendix .more .others{
  margin: 0px 0px 0px 3px;
}
.appendix .others:hover{
  color: #fff;
}

table td .table-vl{
  width: 50px;
}
.vl{
  border-left: 1px solid #1c41b0;
  height: 500px;
}

.logo-d{
  margin: 5px;
}
.logo-d i{
  margin: 7px 20px 0px 0px;
}
.logo-d h1{
  font-size: 14px;
  font-weight: 300;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 24px;
  color: #999;
}
.mail{
  cursor: pointer;
}
.mail:hover{
  color: #fff;
}
.location{
  margin: 20px 0px;
}
.location i{
  margin: 7px 15px 0px 0px;
}
.location h1{
  margin: 7px 0px;
  cursor: pointer;
}
.location h1:hover{
  color: #fff;
}
.logo-c{
  justify-content: space-around;
  margin: 50px 0px;
  width: 250px;
}
.logo-c i{
  cursor: pointer;
}

.final{
  height: 120px;
  background-color: #003d7c;
  text-align: center;
}
.final .horizontal{
  padding: 5px 0px 0px 580px;
}
.final h1{
  font-size: 12px;
  font-weight: 300;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #999;
  margin: 0px 0px 0px 5px;
}
.final .fa-copyright{
  margin: 2px 0px 0px 5px;
}
.final .fa-circle{
  margin: 5px 0px 0px 5px;
}
.final .legal{
  margin: 0px 0px 0px 35px;
}
.final .white{
  cursor: pointer;
}
.final .white:hover{
  color: #fff;
}
